 #singleExamContainer {
     width: 75%;
     flex: 1 1 auto;
     height: 100%;
     /* position: absolute; */
     overflow: hidden;
 }

 #singleExamLoadingSpinner {
     margin-left: -15%;
 }

 #singleExamBtn {
     width: 100%;
     height: 10%;
     justify-content: space-around;
 }

 #singleExamBtn button {
     width: 40%;
     padding: 0;
 }

 /* Exam Creator */
 #singleExamCreatorInfo {
     margin-top: 1%;
     width: 100%;
     height: 88%;
     flex: 1 1 auto;
     padding: 2%;
     overflow-y: scroll;
 }

 #singleExamCreatorInfo img {
     width: 300px;
     height: 300px;
     border-radius: 100%;
     margin: 1% auto;
    box-shadow: 1px 1px 3px 1px rgb(172, 167, 167),
            -1px -1px 5px 5px hsl(0, 0%, 100%);
 }

 .examCreatorRestInfo {
     background-color: var(--secondary-color);
     width: 100%;
     padding: 2%;
     justify-content: space-between;
     margin-top: 2%;
     border-radius: 5px;
 }

 #singleExamCreatorInfo img:hover,
 .examCreatorRestInfo:hover, .restInfo:hover {
     transform: scale(1.02)
 }


 /* Exam info */

 #singleExamInfo {
     margin-top: 1%;
     width: 100%;
     height: 88%;
     flex: 1 1 auto;
     padding: 2%;
     overflow-y: scroll;
 }

 #singleExamInfo img {
     width: 300px;
     height: 300px;
     border-radius: 100%;
     margin: 1% auto;
     flex: 0 0 auto;
     box-shadow: 1px 1px 3px 1px rgb(172, 167, 167),
    -1px -1px 5px 5px hsl(0, 0%, 100%);
 }

 #singleExamInfo img:hover {
     transform: scale(1.03)
 }

 #singleExamInfoIntro {
     /* background-color: red; */
     min-width: 100%;
     max-width: 300px;
     height: 200px;
     font-family: Bold;
     margin-bottom: 5%;
     padding-left: 5%;
     flex: 0 0 auto;
 }

 #singleExamInfoIntro h1 {
     font-family: ExtraBold;
     margin-bottom: 5px;
     height: 20%;
     padding: 1%
 }

 #singleExamInfoIntro p {
     width: 100%;
     height: 80%;
     text-align: left;
     overflow-y: scroll;
     padding: 1% 0 0 0;
     font-size: 1em;
 }

 .restInfo {
     padding: 2% 1%;
     width: 90%;
     justify-content: space-between;
     margin: 2% auto;
     background-color: var(--secondary-color);
     height: 50px;
     flex: 0 0 auto;

 }

 .creatorStateBtns,
 .durationTo {
     width: 90%;
     height: 70px;
     display: flex;
     justify-content: space-between;
     margin: 2% auto;
     padding: 1%;
 }

 .creatorStateBtns button {
     padding: 0;
     width: 45%;
     margin: 0;
     cursor: pointer;
 }

 .durationTo article {
     width: 22%;
     height: 95%;
     background-color: var(--secondary-color);
     margin: 1%;
     border-radius: 5px;
 }


 .durationTo article h5,
 .durationTo article h4 {
     text-align: center;
     text-transform: capitalize;
     font-family: Bold;
 }

 /* Media Query */
 @media (min-width:900px) {
     .restInfo {
         padding: 1%;
     }
 }
